In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from PIL import Image

In [28]:
training_descriptions = pd.read_csv('Training_set.csv')
testing_descriptions = pd.read_csv('Testing_set.csv')

In [33]:
training_descriptions['label'].unique()

array(['SOUTHERN DOGFACE', 'ADONIS', 'BROWN SIPROETA', 'MONARCH',
       'GREEN CELLED CATTLEHEART', 'CAIRNS BIRDWING',
       'EASTERN DAPPLE WHITE', 'RED POSTMAN', 'MANGROVE SKIPPER',
       'BLACK HAIRSTREAK', 'CABBAGE WHITE', 'RED ADMIRAL', 'PAINTED LADY',
       'PAPER KITE', 'SOOTYWING', 'PINE WHITE', 'PEACOCK',
       'CHECQUERED SKIPPER', 'JULIA', 'COMMON WOOD-NYMPH', 'BLUE MORPHO',
       'CLOUDED SULPHUR', 'STRAITED QUEEN', 'ORANGE OAKLEAF',
       'PURPLISH COPPER', 'ATALA', 'IPHICLUS SISTER', 'DANAID EGGFLY',
       'LARGE MARBLE', 'PIPEVINE SWALLOW', 'BLUE SPOTTED CROW',
       'RED CRACKER', 'QUESTION MARK', 'CRIMSON PATCH', 'BANDED PEACOCK',
       'SCARCE SWALLOW', 'COPPER TAIL', 'GREAT JAY', 'INDRA SWALLOW',
       'VICEROY', 'MALACHITE', 'APPOLLO', 'TWO BARRED FLASHER',
       'MOURNING CLOAK', 'TROPICAL LEAFWING', 'POPINJAY', 'ORANGE TIP',
       'GOLD BANDED', 'BECKERS WHITE', 'RED SPOTTED PURPLE',
       'MILBERTS TORTOISESHELL', 'SILVER SPOT SKIPPER', 'AMERICAN SNOOT',
       'AN 88', 'ULYSES', 'COMMON BANDED AWL', 'CRECENT', 'METALMARK',
       'SLEEPY ORANGE', 'PURPLE HAIRSTREAK', 'ELBOWED PIERROT',
       'GREAT EGGFLY', 'ORCHARD SWALLOW', 'ZEBRA LONG WING', 'WOOD SATYR',
       'MESTRA', 'EASTERN PINE ELFIN', 'EASTERN COMA',
       'YELLOW SWALLOW TAIL', 'CLEOPATRA', 'GREY HAIRSTREAK',
       'BANDED ORANGE HELICONIAN', 'AFRICAN GIANT SWALLOWTAIL',
       'CHESTNUT', 'CLODIUS PARNASSIAN'], dtype=object)

In [35]:
testing_descriptions

            filename
0        Image_1.jpg
1        Image_2.jpg
2        Image_3.jpg
3        Image_4.jpg
4        Image_5.jpg
...              ...
2781  Image_2782.jpg
2782  Image_2783.jpg
2783  Image_2784.jpg
2784  Image_2785.jpg
2785  Image_2786.jpg

[2786 rows x 1 columns]

In [29]:
train_data = np.array([np.array(Image.open('Train/' + image_jpg)) for image_jpg in training_descriptions['filename']])
test_data = np.array([np.array(Image.open('Test/' + image_jpg)) for image_jpg in testing_descriptions['filename']])

In [ ]:
train_data, test_data = train_data / 255, test_data / 255